section {
    [class*="bg"] {
        //border: 2px solid #FFF;
        //background: #DEDEDE;
        padding-bottom: 1em;
    }
}


.mp{
    >section{
        padding: 0;
        @include screen('mobile'){
            padding: 0 0 1em 0;
        }
        &.ad{
            padding: 5em 0;
            margin-bottom: -1em;
            @include screen('mobile'){
                padding:1em;
                margin-bottom: 0;
            }
        }

    }
    // &:after {
    //     content: '';
    //     background: url('../images/mp_bg1.png') no-repeat right top;
    //     background-size: 100% auto;
    //     width: 45%;
    //     height: 630px;
    //     position: absolute;
    //     z-index: 0;
    //     right: 0;
    //     top: 5%;
    //     z-index: 0;
    //     animation-name: topright;
    //     animation-duration: 5s;
    //     animation-iteration-count: infinite;
    //     animation-timing-function: ease-in;

    //     @include screen('tablet') {
    //         display: none;
    //     }
    // }
    // &:before {
    //     content: '';
    //     background: url('../images/mp_bg2.png') no-repeat left top;
    //     background-size: 100% auto;
    //     width: 42%;
    //     height: 676px;
    //     position: absolute;
    //     z-index: 0;
    //     left: 0;
    //     top: 29%;
    //     z-index: 0;
    //     animation-name: topleft;
    //     animation-duration: 8s;
    //     animation-iteration-count: infinite;
    //     animation-timing-function: ease-in;

    //     @include screen('tablet') {
    //         display: none;
    //     }
    // }
    // @keyframes topright {
    //     0% {
    //         top: 5%;
    //         opacity:0;
    //     }
    //     50% {
    //         top: 6%;
    //         opacity:1;
    //     }
    //     100% {
    //         top: 5%;
    //         opacity:0;
    //     }
    // }
    // @keyframes topleft {
    //     0% {
    //         top: 29%;
    //         opacity:0;
    //     }
    //     50% {
    //         top: 30%;
    //         opacity:1;
    //     }
    //     100% {
    //         top: 29%;
    //         opacity:0;
    //     }
    // }

    .bg-1{
        background: url(../images/bg1bg.png) no-repeat left top;
        background-size: cover;
        padding-bottom: 3em;
        margin-top: 2em;
        z-index: 3;
        position: relative;
        @include screen('mobile'){
            padding-bottom: 0;
            margin-top: 0;
        }
    }

}



// 廣告輪播
.adSlider {
    @include gutter(70px);
    margin-bottom: 20px;
    @include screen('mobile') {
        @include gutter();
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
        background-size: 90%;
        left: -15px;
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
        background-size: 90%;
        right: -15px;
    }
    .img-container {
        width: 165px;
        height: 55px;
        margin: 0px 15px;
        a {
            display: block;
            text-align: center;
            border:1px solid #ddd;
            img {
                margin: 0 auto;
            }
        }
        &:focus {
            &:before {
                content: "";
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 0 0px 0px 3px $primaryColor inset;
            }
        }
    }
}

//最新消息
.news{
    position: relative;
    margin-top: 30px;
    padding-left: 60px;

    @include screen('mobile') {
        margin: 20px 0;
    }

    &:before{
        content: "latest news";
        position: absolute;
        left: .5em;
        top:0;
        font-family:"Optima","Roboto Condensed", sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform:uppercase;
        transform: rotate(90deg);
        transform-origin: .75em;
        font-size: .75em;
        border-bottom:2px solid $primaryColor;
        min-width: 200px;
        @media screen and (max-width: 1100px){
            display:none;
        }
        @include screen('mobile'){
            display:none;
        }
    }
    h2{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.8em;
        line-height: 1.25em;
        letter-spacing: .1em;
        text-align: left;
        font-weight: normal;
        font-weight: 600;
        margin-top: 25px;
    }
    .select_library{
        right:60px;
        top:25px;
    }
    .tabContent{
        // font-size: .938em;
        padding: 20px 60px 20px 0;
        @include screen('tablet') {
            padding: 20px 20px 20px 0;
        }
        @include screen('mobile'){
            padding: 20px 0;
        }
        ul{
            // background-color:#fff;
            border-top: 1px solid $color-gray;
        }
        .township_tag{
            position: relative;
            display: inline-block;
            color:$color-word;
            padding: 0.7em .2em;
            line-height: .5em;
            min-width:6.5em;

            &:after{
                content:"";
                position: absolute;
                bottom:-.9em;
                left: 0;
                display:block;
                width: 100%;
                height:4px;
                background-color:$importantColor;
            }
        }
        time{
            font-size: .875em;
        }
    }
    .tabSet{
        margin-bottom: 0;
    }
}





//login
.login{
    position: fixed;
    right: 0;
    // left: calc(100% - 45px);
    top: 1.8em;
    z-index: 9999;
    @include screen('mobile') {
        top: 10px;
        right:0;
        position: absolute;
        // z-index: 9999999;
    }
    .login-btn{
        margin: 0 -1px 0 0;
        width: 2.5em;
        min-width: 2.5em;
        min-height: 7em;
        font-size: 1.25em;
        white-space:pre-wrap!important;
        float: left;
        border: solid 1px $primaryColor;
        background: $primaryColor;
        position: relative;
        top:0;
        left:0;
        &:hover{
            box-shadow: 0 0px 0px 2px $primaryColor inset;
        }
        &:focus{
            box-shadow: 0 0px 0px 2px $aHover inset;
            background: $secondaryColor;
        }
        @include screen('mobile') {
            font-size: 0;
            min-height: 40px;
            width: 48px;
            height: 48px;
            background: rgba(0, 0, 0, 0) url('../images/people.png')no-repeat center center;
            background-size: 28px auto;
            border: none;
            top: 0;
            right:0;
            float: right;
            border: none;
            &:hover, &:focus{
                background: rgba(0, 0, 0, 0) url('../images/people.png')no-repeat center center;
                background-size: 28px auto;
                top: 0;
                right:0;
            }
        }
    }
    .close-btn{
        background: $secondaryColor;
        color:#fff;
        min-width: 1em;
        width: 2em;
        height: 2em;
        line-height: 1em;
        // float: right;
        border: none;
        margin: 0;
        position: absolute;
        right:0;
        top:0;
        &:hover{
           background: darken($secondaryColor,15); 
       }
   }
   .login-animate-right{
    width: 300px;
    min-height: 5em;
    padding:2.5em 1em 1em;
    margin-left: 3.6em;
    background: rgba(0, 0, 0, 1);
    color:#fff;
    font-size: .875em;
    position: relative;
    @include screen('mobile') {
        padding:2em 1em 1em;
        margin-left: 0em;
        margin-top: 60px;
        width: 320px;
    }
}
.form_inline{
    input[type="text"]{
        width: 70%;
        padding: 3px 5px;
        @include screen('mobile') {
            width: 80%;
        }
    }
    input[type="password"]{
        width: 70%;
        padding: 3px 5px;
        @include screen('mobile') {
            width: 80%;
        }
    }
    .btn_grp{
        padding: 0;
        .btn{
            min-width: 6em;
            background: darken($secondaryColor,15);
            color:#fff;
            border: none;
            &:hover{
                background: darken($secondaryColor,25); 
            }
        }

    }
    @include screen('mobile') {
        label{
            display: inline-block;
        }
    }

}
.reader{
    margin: .5em 0;
    font-size: 1.125em;
}
ul{
    padding: 0 0 2em 0;
    margin:0;
    display: inline-block;
    vertical-align: middle;
    @include screen('mobile') {
        margin: .5em 0;
    }
    li{
        position: relative;
        margin:.1em 5px;
        padding-left: 10px;
        list-style: none;
        display: block;
        &:before{
            content: "";
            position: absolute;
            width: 1px;
            height: 1em;
            background-color: $lightColor;
            left:0;
            top:.35em;
            opacity:.85;
        }

        &.reader_overdue{
            span{
                background: $color-red;
                color:#fff;
            }
        }
        &.reader_violation{
            span{
                background: $color-red;
                color:#fff;
            }
        }
        &.reader_arrival{
            span{
                background: $color-red;
                color:#fff;
            }
        }
        span{
            margin:0 .312em;
            min-width: 18px;
            height: 18px;
            border-radius: .31em;
            display: inline-block;
            text-align: center;
            font-family: Georgia;
            font-weight: bold;
            line-height: 1;
            vertical-align:top;
            margin-top: 2px;
            background: $color-green;
        }
    }
}

}
// .login-animate-right{position:relative;animation:animateright 0.4s}
// @keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.birdbox{

}
.birdbox2{
    @include screen('mobile') {
     .bird1, .bird2, .bird3, .bird4{
        display: none;
    }
}
}
.bird1{
    position: absolute;
    top:280px;
    left:8%;
    animation-name: nbird1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;

    @keyframes nbird1 {
        0% {
            top:280px;
            left:8%;
        }
        50% {
            top:260px;
            left:9%;
        }
        100% {
            top:280px;
            left:8%;
        }
    }
    @include screen('tablet') {
        @keyframes nbird1 {
            0% {
                top:280px;
                left:-6%;
            }
            50% {
                top:260px;
                left:-5%;
            }
            100% {
                top:280px;
                left:-6%;
            }
        }
    }
    @include screen('mobile') {
        @keyframes nbird1 {
            0% {
                top:230px;
                left:-20%;
                transform:scale(0.6);
            }
            50% {
                top:225px;
                left:-20%;
                transform:scale(0.65);
            }
            100% {
                top:230px;
                left:-20%;
                transform:scale(0.6);
            }
        }
    }
}
.bird2{
    position: absolute;
    top:315px;
    right:9.5%;
    animation-name: nbird2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;

    @include screen('tablet') {
        right:0%;
    }
    @keyframes nbird2 {
        0% {
            transform:scale(0.9);
        }
        50% {
            transform:scale(1);
        }
        100% {
            transform:scale(0.9);
        }
    }
    @include screen('mobile') {
        @keyframes nbird2 {
            0% {
                transform:scale(0.6);
                top:250px;
                right:-10%;
            }
            50% {
                transform:scale(0.65);
                top:250px;
                right:-10%;
            }
            100% {
                transform:scale(0.6);
                top:250px;
                right:-10%;
            }
        }
    }
}
.bird3{
    position: absolute;
    top:607px;
    left:3.6%;
    animation-name: nbird3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    @keyframes nbird3 {
        0% {
            top:607px;
            left:3.6%;
        }
        50% {
            top:600px;
            left:5%;
        }
        100% {
            top:607px;
            left:3.6%;
        }
    }
    @include screen('tablet') {
        @keyframes nbird3 {
            0% {
                top:607px;
                left:-2.6%;
            }
            50% {
                top:600px;
                left:0%;
            }
            100% {
                top:607px;
                left:-2.6%;
            }
        }
    }
    @include screen('mobile') {
        @keyframes nbird3 {
            0% {
                transform:scale(0.6);
                top:480px;
                left:-9%;
            }
            50% {
                transform:scale(0.65);
                top:480px;
                left:-9%;
            }
            100% {
                transform:scale(0.6);
                top:480px;
                left:-9%;
            }
        }
    }
}
.bird4{
    position: absolute;
    top:605px;
    right:3.6%;
    animation-name: nbird4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    @keyframes nbird4 {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    @include screen('tablet') {
     @keyframes nbird4 {
        0% {
            transform:scale(0.8) rotate(0deg);
            top:605px;
            right:-1%;
        }
        50% {
            transform:scale(0.8) rotate(-5deg);
            top:605px;
            right:-1%;
        }
        100% {
            transform:scale(0.8) rotate(0deg);
            top:605px;
            right:-1%;
        }
    }

}
@include screen('mobile') {
 @keyframes nbird4 {
    0% {
        transform:scale(0.6) rotate(0deg);
        top:490px;
        right:-16%;
    }
    50% {
        transform:scale(0.6) rotate(-5deg);
        top:490px;
        right:-16%;
    }
    100% {
        transform:scale(0.6) rotate(0deg);
        top:490px;
        right:-16%;
    }
}
}
}
.bird5{
    position: absolute;
    top:160px;
    left:14.3%;
    animation-name: nbird5;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    img{
        width: 50%;
    }
    @keyframes nbird5 {
        0% {
            top: 160px;
            left:14.3%;
        }
        50% {
            top: 165px;
            left:15%;
        }
        100% {
            top: 160px;
            left:14.3%;
        }
    }
    @include screen('mobile') {
        img{
            width: 30px;
        }
        @keyframes nbird5 {
            0% {
                top: 110px;
                left:26%;
            }
            50% {
                top: 115px;
                left:27%;
            }
            100% {
                top: 110px;
                left:26%;
            }
        }
    }
}
.bird6{
    position: absolute;
    top:130px;
    left:66.5%;
    animation-name: nbird6;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    img{
        width: 50%;
    }
    @keyframes nbird6 {
        0% {
            top:130px;
            left:66.5%;
        }
        50% {
            top:120px;
            left:67%;
        }
        100% {
            top:130px;
            left:66.5%;
        }
    }
    @include screen('mobile') {
     img{
        width: 30px;
    }
    @keyframes nbird6 {
        0% {
            top:95px;
            left:81%;
        }
        50% {
            top:95px;
            left:81%;
        }
        100% {
            top:95px;
            left:81%;
        }
    } 
}
}
.bird7{
    position: absolute;
    top:150px;
    left:61%;
    animation-name: nbird7;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    img{
        width: 38%;
    }
    @keyframes nbird7 {
        0% {
            top:150px;
            left:61%;
        }
        50% {
            top:148px;
            left:62%;
        }
        100% {
            top:150px;
            left:61%;
        }
    }
    @include screen('mobile') {
        display: none;
    }
}





